<!-- Sidebar -->

    <nav class="sidebar-navigation mw-50">

        <div class="sidebar-profile">
            <div class="dropdown">
                <span class="dropdown-toggle no-caret" data-toggle="dropdown"><img src="css/admin/img/logo-kids.png" alt="..."></span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="fas fa-users-cog"></i> Créer un nouvel admin</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-user-shield"></i> Gérer les admin</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('admin_account_logout') }}"><i class="fas fa-sign-out-alt"></i></i> Se déconnecter</a>
                </div>
            </div>
        </div>

        <ul class="menu">

            <li class="menu-item {% if current_menu is defined and current_menu == 'dashboard' %}active{% endif %}">
                <a class="menu-link" href="{{ path('admin_dashboard') }}">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li class="menu-item {% if current_menu is defined and current_menu == 'event' %}active{% endif %}">
                <a class="menu-link" href="{{ path('admin_events_index') }}">
                    <span class="icon"><i class="fab fa-font-awesome-flag"></i></span>
                    <span class="title">Événements</span>
                    <span class="badge badge-pill badge-info">{{ activeStats.activeEvents | length }}</span>
                </a>
            </li>

            <li class="menu-item {% if current_menu is defined and current_menu == 'waitlist' %}active{% endif %}">
                <a class="menu-link" href="{{ path('admin_waitlist_index') }}">
                    <span class="icon"><i class="fas fa-tasks"></i></span>
                    <span class="title">Liste d'attente</span>
                </a>
            </li>

            <li class="menu-item {% if current_menu is defined and current_menu == 'booking' %}active{% endif %}">
                <a class="menu-link" href="{{ path('admin_booking_index') }}">
                    <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                    <span class="title">Réservations</span>
                    <span class="badge badge-pill badge-info">{{ activeStats.activeBookings | length }}</span>
                </a>
            </li>

            <li class="menu-item {% if current_menu is defined and current_menu == 'program' %}active{% endif %}">
                <a class="menu-link" href="{{ path('admin_programs_index') }}">
                    <span class="icon"><i class="fas fa-graduation-cap"></i></span>
                    <span class="title">Programmes</span>
                </a>
            </li>
            <li class="menu-item {% if current_menu is defined and current_menu == 'userList' %}active{% endif %}">
                <a class="menu-link" href="{{ path('admin_users_list') }}">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span class="title">Utilisateurs</span>
                </a>
            </li>
            {% if is_granted('ROLE_OWNER') %}
            <li class="menu-item {% if current_menu is defined and current_menu == 'createevent' or current_menu == 'createprogram' %}active{% endif %} dropdown">
                <span class="menu-link title" data-toggle="dropdown"><i class="fas fa-plus-circle"></i>Créer</span>
                <div class="dropdown-menu dropdown-menu">
                    <a class="dropdown-item" href="{{ path('admin_events_create') }}">Événement</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('admin_programs_create') }}">Programme</a>
                </div>
            </li>
            {% endif %}
            <li class="menu-item">
                <a class="menu-link" href="{{ path('admin_account_logout') }}">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Déconnexion</span>
                </a>
            </li>

        </ul>
    </nav>

<!-- END Sidebar -->