
    <div class="topbar-left">
        <h3 class="topbar-title">Administration Euratech Kids</h3>

        <div class="topbar-divider d-none d-md-block"></div>

        <div class="header-action">
            <div class="dropdown d-none d-md-block d-xl-none">
                <span class="topbar-btn" data-toggle="dropdown"><i class="fas fa-th fa-3x my-3"></i></span>
                <div class="dropdown-menu dropdown-grid">
                    <a class="dropdown-item" href="{{ path('admin_dashboard') }}">
                        <span><i class="fas fa-home"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                    <a class="dropdown-item" href="{{ path('admin_dashboard_list') }}">
                        <span><i class="fas fa-child"></i></span>
                        <span class="title">Enfants ce jour</span>
                    </a>
                    <a class="dropdown-item" href="{{ path('admin_events_index') }}">
                        <span><i class="fab fa-font-awesome-flag"></i></span>
                        <span class="title">Événements</span>
                    </a>
                    <a class="dropdown-item" href="{{ path('admin_waitlist_index') }}">
                        <span><i class="fas fa-tasks"></i></span>
                        <span class="title">Liste d'attente</span>
                    </a>
                    <a class="dropdown-item" href="{{ path('admin_booking_index') }}">
                        <span><i class="fas fa-calendar-alt"></i></span>
                        <span class="title">Réservations</span>
                    </a>
                    <a class="dropdown-item" href="{{ path('admin_programs_index') }}">
                        <span><i class="fas fa-graduation-cap"></i></span>
                        <span class="title">Programmes</span>
                    </a>
                    <a class="dropdown-item" href="{{ path('admin_users_list') }}">
                        <span><i class="fas fa-users"></i></span>
                        <span class="title">Utilisateurs</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <span data-i8-icon="download"></span>
                        <span class="title">Download</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <span data-i8-icon="settings"></span>
                        <span class="title">Settings</span>
                    </a>
                </div>
            </div>
            <nav class="nav d-none d-lg-block">
                <a class="nav-link{% if current_menu is defined and current_menu == 'dashboard' %}active{% endif %}" href="{{ path('admin_dashboard') }}"><i class="fas fa-home"></i> Dashboard</a>
                <a class="nav-link{% if current_menu is defined and current_menu == 'event' %}active{% endif %}" href="{{ path('admin_events_index') }}"><i class="fab fa-font-awesome-flag"></i> Événements</a>
                <a class="nav-link{% if current_menu is defined and current_menu == 'waitlist' %}active{% endif %}" href="{{ path('admin_waitlist_index') }}"><i class="fas fa-tasks"></i> Liste d'attente</a>
                <a class="nav-link{% if current_menu is defined and current_menu == 'booking' %}active{% endif %}" href="{{ path('admin_booking_index') }}"><i class="fas fa-calendar-alt"></i> Réservations</a>
                <a class="nav-link{% if current_menu is defined and current_menu == 'program' %}active{% endif %}" href="{{ path('admin_programs_index') }}"><i class="fas fa-graduation-cap"></i> Programmes</a>
                <a class="nav-link{% if current_menu is defined and current_menu == 'userList' %}active{% endif %}" href="{{ path('admin_users_list') }}"><i class="fas fa-users"></i> Utilisateurs</a>
            </nav>
            {% if is_granted('ROLE_OWNER') %}
            <div class="dropdown show">
                <span class="topbar-btn" data-toggle="dropdown"><i class="fas fa-plus-circle"></i> Créer</span>
                <div class="dropdown-menu">
                    <a class="dropdown-item nav-link {% if current_menu is defined and current_menu == 'createprogram' %}active{% endif %}" href="{{ path('admin_programs_create') }}"><i class="fas fa-plus-circle"></i> Créer un programme</a>
                    <a class="dropdown-item nav-link {% if current_menu is defined and current_menu == 'createevent' %}active{% endif %}" href="{{ path('admin_events_create') }}"><i class="fas fa-plus-circle"></i> Créer un événement</a>
                </div>
            </div>
            <div class="topbar-right">
                <ul class="topbar-btns">
                    <li class="dropdown">
                        <span class="topbar-btn" data-toggle="dropdown"><i class="fas fa-cogs"></i></span>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('admin_account_register') }}"><i class="fas fa-users-cog"></i> Créer un admin</a>
                            <a class="dropdown-item" href="{{ path('owner_account_register') }}"><i class="fas fa-users-cog"></i> Créer un propriétaire</a>
                            <a class="dropdown-item" href="{{ path('admin_users_list') }}"><i class="fas fa-user-shield"></i> Gérer les admins</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('admin_account_logout') }}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                        </div>
                    </li>
                    <!-- Messages -->
                    <li class="menu-item">
                        <a class="menu-link" href="#">
                            <span class="icon"><i class="fas fa-envelope"></i></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">
                            <span class="icon"><i class="fab fa-mailchimp"></i></span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="menu-item">
                        <a class="menu-link" href="{{ path('admin_account_logout') }}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>


