{% extends 'admin/base.html.twig' %}

{% block title %}Liste des programmes{% endblock %}

{% block body %}
    <div class="container">
        <table class="table mt-5">
            <thead class="bg-dark">
            <tr>
                <td>Thème</td>
                <td>Titre</td>
                <td>Age</td>
                <td>Détails</td>
                <td>Éditer</td>
                <td>Suppression</td>
            </tr>
            </thead>
            {% for program in programs %}
                <tr>
                    <td>{{program.title}}</td>
                    <td>{{ program.secondTitle }}</td>
                    <td>{{ program.limitedAge }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_programs_show', {'slug': program.slug}) }}">Détails <i class="fas fa-info-circle"></i></a>
                    </td>
                    {% if is_granted('ROLE_OWNER') %}
                    <td>
                        <a class="btn btn-warning" href="#">Éditer <i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{{ path('admin_programs_delete', {'id': program.id}) }}">Supprimer <i class="fas fa-trash"></i></a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" onclick="javascript:window.print();">Print</button>
        </div>
    </div>
    {{ pagination.display() }}
{% endblock %}