<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                Prénom: {{ contact.firstName }}
                Nom: {{ contact.lastName }}
                est un(e) {{ contact.comeFrom }}
                Venant de: {{ contact.town }} / {{ contact.yourTown }}
                Téléphone: {{ contact.phone }}
                Email: {{ contact.email }}
                Message: {{ contact.message }}
            </td>
        </tr>
    </table>
</body>
</html>